{% extends 'course/base.html' %}

{% block content %}
<section class="problem-set">
<section class="ps-info page-header">
<h1>Attempt {{ problem_set.title }}<small>  ( Due {{ problem_set.due_date }} )</small></h1>
<p class="lead">{{problem_set.description}}</p>
</section>

<!-- <form class="form-horizontal" action="submit/" method="POST" enctype="multipart/form-data"> -->
<!-- {% csrf_token %} -->
{% for problem in problem_set.problems.all %}
<form class="form-horizontal" action="{% url 'course:problem_submit' problem.id problem_set.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <h3>{{ problem.title }}</h3>
  <p class="lead">{{ problem.statement }}</p>
  <p class="help-block">Upload the required files for {{problem.title}}</p>
  {% for file in problem.requiredproblemfilename_set.all %}
    <div class="form-group">
      <label class="col-sm-2" for="{{ file.file_title }}">{{ file.file_title }}</label>
      <input class="col-sm-8" type="file" name="{{ file.file_title }}" id="{{ file.file_title }}">
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-default">Submit {{problem.title}}</button>
  <hr>
  </form>
{% endfor %}
<input type="submit" class="btn btn-default" value="Submit All Problems">
<!-- </form> -->
{% endblock content %}
