{% extends 'course/base.html' %}

{% block content %}
<section class="col-sm-12">
  <section class = "row">
    <section class = "col-sm-12 col-md-8">
      <h2>Due Soon:</h2>
      <div class="panel-group" role="tablist" aria-multiselectable="true">
      {% for ps, sp_set in upcoming_sets_results_dict.items %}
        <div class="panel panel-default" id="problemset-{{ps.id}}">
          {% include 'course/includes/problemset_panel_header.html' %}
        </div>
      {% empty %}
        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <div class="flex-panel-wrapper">
              <p class = "h4">No Upcoming Problem Sets</p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </section>
    <section class="col-sm-12 col-md-4">
      <h2>Recently Submitted:</h2>
      <ul class="list-group">
        {% for sol in recently_submitted_solutions %}
          <li class="list-group-item">
            <div class="flex-panel-wrapper">
              <div>
                <p class = "h4">{{ sol.problem.title }}</p>
                <p class="h5">
                  {% if sol.latest_score == "Not Autograded" %}
                    Not Autograded
                  {% else %}
                    Latest Score: {{sol.latest_score}}{% if sol.max_score %}/{{sol.max_score}}{% endif %}
                  {% endif %}
                </p>
                <p class="h5"> 
                  <span class="glyphicon glyphicon-time"></span>
                  Submitted {{sol.submitted}}
                </p>
              </div>
              <div>
                <a role="button" type="button" href="{% url 'course:results_problem_detail' sol.student_problem_set.problem_set.id sol.problem.id %}" class="btn btn-default">
                  <span class="glyphicon glyphicon-eye-open"></span> results
                </a>
              </div>
            </div>
          </li>
        {% empty %}
        <li class="list-group-item">
            <div class="flex-panel-wrapper">
                <p class = "h4">You haven't submitted anything in the last 24 hours! </p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>
  </section>
</section>
{% endblock %}
