{% extends 'course/base.html' %}
{% block content %}
<div class="panel-group" role="tablist" aria-multiselectable="true">
  {% for ps, s_sol in ps_dict.items %}
  <div class="panel panel-default" id="problemset-{{ps.id}}">
    <div class="panel-heading" role="tab">
      <div class="flex-panel-wrapper">
      <div role="button" data-toggle="collapse" data-parent="#problemset-{{ps.id}}" href="#collapse-problemset-{{ps.id}}" aria-expanded="true" aria-controls="problemset-{{ps.id}}">
      <p class = "h4">
        {{ ps.title }} 
      </p>
      <p class="h5"><span class="glyphicon glyphicon-time"></span> Due {{ps.due_date}}</p>
      </div>
      {% if s_sol and s_sol.submitted %}
        <div class="btn-group" role="group" aria-label="...">
          <a role="button" href="{% url 'course:attempt_problem_set' ps.id %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span> re-attempt </a>
          <a role="button" type="button" href="{% url 'course:results_detail' ps.id %}" class="btn btn-default">
            <span class="glyphicon glyphicon-eye-open"></span> results
          </a>
        </div>
        {% else %}
        <div class="btn-group" role="group" aria-label="...">
          <a role="button" href="{% url 'course:attempt_problem_set' ps.id %}" type="button" class="btn btn-default">attempt problems</a>
        </div>
      {% endif %}
      </div>

    </div>
    <div id="collapse-problemset-{{ps.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="problemset-{{ps.id}}">
      <div class="list-group">
      {% if s_sol %}
        {% for solution in s_sol.studentproblemsolution_set.all %}
        {% if solution.submitted %}
          <li class="list-group-item"><span>{{ solution.problem.title }}</span><span class="small pull-right">attempted on {{solution.submitted}}</span></li>
        {% else %}  
          <li class="list-group-item"><span>{{ solution.problem.title }}</span><span class="small pull-right">not yet attempted</span></li>
        {% endif %}
        {% endfor %}
      {% else %}
        {% for problem in ps.problems.all %}
        <li class="list-group-item"><span>{{ problem.title }}</span><span class="small pull-right">not yet attempted</span></li>
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>
  {% empty %}
  {% endfor %}
</div>
{% endblock %}




