{% extends 'course/base.html' %}

{% block content %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  {% for ps in latest_problem_sets %}
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ ps.title }}
        </span>
        <a class ="pull-right" href="{% url 'course:problem_set_detail' ps.id %}">view all problems
        <span class="glyphicon glyphicon-arrow-right"></span></a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="list-group">
      {% for problem in ps.problems.all %}
      <li class="list-group-item"><span>{{ problem.title }}</span><span class="badge">Attempt</span></li>
      {% endfor %}
      </div>
    </div>
  </div>
  {% empty %}
  {% endfor %}
</div>
{% endblock %}




