{% extends 'course/base.html' %}
{% block content %}
<section class="col-sm-12">
<div class="panel-group" role="tablist" aria-multiselectable="true">
  {% for ps, sp_set in ps_dict.items %}
  {# this looks like it will throw an error if sp_set does not exist, but it doesnt so #}
  {# don't try to add additional logic to check for sp_set exist because django templates don't allow parentheses #}
  {% if ps.is_already_due and not sp_set.all_submitted %} 
  <div class="panel panel-danger" id="problemset-{{ps.id}}"> 
  {% else %}
  <div class="panel panel-default" id="problemset-{{ps.id}}">
  {% endif %}
  {% include 'course/includes/problemset_panel_header.html' %}
  </div>

<!--     <div id="collapse-problemset-{{ps.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="problemset-{{ps.id}}">
      <div class="list-group">
      {% if sp_set %}
        {% for solution in s_sol.studentproblemsolution_set.all %}
        {% if solution.submitted %}
          <li class="list-group-item"><span>{{ solution.problem.title }}</span><span class="small pull-right">attempted on {{solution.submitted}}</span></li>
        {% else %}  
          <li class="list-group-item"><span>{{ solution.problem.title }}</span><span class="small pull-right">not yet attempted</span></li>
        {% endif %}
        {% endfor %}
      {% else %}
        {% for problem in ps.problems.all %}
        <li class="list-group-item"><span>{{ problem.title }}</span><span class="small pull-right">not yet attempted</span></li>
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div> -->
  {% endfor %}
</div>
</section>
{% endblock %}




