{% extends 'course/base.html' %}
{% load staticfiles %}
{% block content %}
<section>
  <h1>Submission Successful!</h1>
  {% if job_running %}
    <div class="alert alert-info" role="alert">Your submission is still being graded.</div>
  {% else %}
    <div class="alert alert-success" role="alert">Your submission has been graded!</div>
  {% endif %}
  <p> There are currently {{ num_jobs }} assignments being graded. </p>
  <p> This page will auto-refresh </p>
  {% if not job_running %}
  <div>
    <a role="button" type="button" href="{% url 'course:results_problem_detail' ps_id p_id %}" class="btn btn-default">
      <span class="glyphicon glyphicon-eye-open"></span> results
    </a>
  </div>
  {% endif %}
</section>
{% endblock %}
{% block otherscripts %}
<script type="text/javascript"> 
  var job_running = "{{ job_running }}" == "True"
  var num_jobs = {{ num_jobs }}
</script>
<script src="{% static 'course/js/submit_success.js' %}"></script>
{% endblock %}
