@import 'partials/variables';
#cs-nav{
	background: whitesmoke;
	border-bottom: .5rem solid $reed-red;
}

html, body{
	background: white;
	font-family: 'Helvetica Neue', Helvetica, Sans-Serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 300;
}

.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 300;
}

body{
	padding-top: $nav-height;
}

.flex-panel-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-pagination .pager{
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popover-footer {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  border-top: 1px solid #E5E5E5;
}

.popover-footer .btn + .btn {
  margin-left: 5px;
}

.popover{
    max-width: 100%;
}
