@import 'partials/variables';

#cs-nav{
	background: whitesmoke;
	border-bottom: .5rem solid $reed-red;
}

html, body{
	background: white;
	font-family: Garamond, 'Helvetica Neue', Helvetica, Sans-Serif;
}

body{
	padding-top: $nav-height;
}